bump2version>=0.5.10
wheel>=0.30.0

# install requirements
pyftpdlib==1.5.6
PyOpenSSL==19.1.0
pytest==6.0.1

# documentation
Sphinx>=1.8
sphinx-copybutton>=0.3.0
sphinx-rtd-theme>=0.5.0

# testing
flake8>=2.6.0
tox==3.18.1
coverage>=4.3.0
wget>=3.2
